<div class="container">
  <h5 class="d-inline bg-light">管理者ログイン</h5>
  <div class="my-3">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table>
        <!--bootstrapが当たらない-->
        <tr>
        <tr>
          <td class="col-6 py-1"><%= f.label :email, "メールアドレス"%></td>
          <td class="col-6"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td class="col-6 py-1"><%= f.label :password, "パスワード" %></td>
          <td class="col-6"><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <td class="col-6 py-1"></td>
          <td class="col-6"><%= f.submit "ログイン", class: "btn btn-primary btn-block" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>