<div class="container">
<div class="mb-auto">
  <div class="card-list-container py-5">
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      ようこそ、ながのCAKEへ!</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</br>
     </div>

  <h3>新着商品</h3>
<div class="mx-auto">
  <div class="row">
    <% @items.each do |item| %>
    <table>
      <tr>
        <th>
          <%=link_to item_path(item.id) do %>
          <%= image_tag item.get_image(238,238) %>
          <% end %>
        </th>
      </tr>
      <tr>
        <td><%= item.item_name %></td>
      </tr>
      <tr>
        <td>¥<%= item.price %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>

<p class="text-right">text-right 右寄せ</p>
    <div class = "text-right">
    <%= link_to "全ての商品を見る>", items_path %></div>
  </div>
</div>

</div>