<div class="container">
  <div class="mb-auto">
    <div class="card-list-container py-5">
      <div class="card w-50 mx-auto mt-4 shadow-lg">
        ようこそ、ながのCAKEへ!</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。</br>
       </div>
        <h3>新着商品</h3>
          <div class="mx-auto">
            <div class="row">
              <% @items.each do |item| %>
                <div class="col-3 fadein txt0<%= @k %>">
                  <%= link_to item_path(item.id) do %>
                    <div class="card text-dark tr-color h-100 bg-transparent border-0">
                      <%= image_tag item.get_image(238,238), class: "card-img-top rounded-circle" %>
                      <div class="card-body">
                        <h6 class="card-title text-truncate"><%= item.item_name %></h6>
                        <p class="card-text text-truncate">
                          ¥<%= number_with_delimiter(item.price) %>
                          (¥<%= number_with_delimiter(item.tax_included_price) %>)
                        </p>
                      </div>
                    </div>
                    <% @k += 1 %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class = "text-right">
            <%= link_to "全ての商品を見る>", items_path %>
          </div>
    </div>
  </div>
</div>