<div class="container">
  <div class = "row">
     <%= render 'errors', address: @address %>
      <h4>配送先編集</h4>
       <%= form_with model: @address do |f| %>
        <table>
          <tr>
            <td><%= f.label :post_code,"郵便番号（ハイフンなし）" %></td>
            <td><%= f.text_field :post_code %></>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :address ,"住所 "%></td>
            <td colspan = "2"><%= f.text_field  :address , :size=> "60"%></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :address_name,"宛名" %></td>
            <td><%= f.text_field :address_name, :size=> "30" %></td>
            <td></td>
            <td> <%= f.submit "変更内容を保存",class: 'btn btn-success' %></td>
           </tr>
        </table> 
      <% end %>
    </div>
  </div>
</div>