<div class="container">
  <div class = "row">
    <div class = "mt-3" >
      <div class = "center" >
       <%= render 'errors', address: @address %>

          <h3 class="d-inline highlight">配送先編集</h3>
          <%= form_with model: @address do |f| %>
        <table class="mt-3">
            <td><%= f.label :post_code,"郵便番号（ハイフンなし）" %></td>
            <td><%= f.text_field :post_code, class: "custom-input"  %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :address ,"住所 "%></td>
            <td colspan = "2"><%= f.text_field :address , :size=> "60", class: "custom-input" %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :address_name,"宛名" %></td>
            <td><%= f.text_field :address_name, :size=> "30", class: "custom-input" %></td>
            <td></td>
            <td> <%= f.submit "変更内容を保存", class: "btn custom-button" %></td>
           </tr>
          </table>
          <% end %>
      </div>
    </div>
  </div>
</div>