<div class="container my-5">
  
  <% if flash[:error] %>
  <div class="alert danger text-danger">
    <%= flash[:error]%>

  </div>
  <% end %>
  
  <h5 class="d-inline highlight">新規会員登録</h5>
  <div class="my-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <table>
        <tr>
          <td class="py-2">名前</td>
          <td><%= f.label :last_name, "(姓)"%></td>
          <td><%= f.text_field :last_name, placeholder: "令和", autocomplete: "last_name", class: "custom-input" %></td>
          <td><%= f.label :first_name, "(名)"%></td>
          <td><%= f.text_field :first_name, placeholder: "道子", autocomplete: "first_name", class: "custom-input" %></td>
        </tr>
        <tr>
          <td class="py-2">フリガナ</td>
          <td><%= f.label :last_name_kana, "(セイ)"%></td>
          <td><%= f.text_field :last_name_kana, placeholder: "レイワ", autocomplete: "last_name_kana", class: "custom-input" %></td>
          <td><%= f.label :first_name_kana, "(メイ)"%></td>
          <td><%= f.text_field :first_name_kana, placeholder: "ミチコ", autocomplete: "first_name_kana", class: "custom-input" %></td>
        </tr>レイワ
        <tr>
          <td class="py-1"><%= f.label :email, "メールアドレス"%></td>
          <td></td>
          <td><%= f.email_field :email, placeholder: "example@example.com", autocomplete: "email", class: "custom-input" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="py-1"><%= f.label :post_code, "郵便番号(ハイフンなし)" %></td>
          <td></td>
          <td><%= f.text_field :post_code, placeholder: "0000000", autocomplete: "post_code", class: "custom-input" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="py-1"><%= f.label :address, "住所" %></td>
          <td></td>
          <td colspan="3"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0−0", autocomplete: "address", class: "w-100 custom-input" %></td>
        </tr>
        <tr>
          <td class="py-1"><%= f.label :phone_number, "電話番号(ハイフンなし)" %></td>
          <td></td>
          <td><%= f.text_field :phone_number, placeholder: "00000000000", autocomplete: "phone_number", class: "custom-input" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="py-1"><%= f.label :password, "パスワード(6文字以上)" %></td>
          <td></td>
          <td><%= f.password_field :password, autocomplete: "new-password", class: "custom-input" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="py-1"><%= f.label :password_confirmation, "パスワード(確認用)"%></td>
          <td></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "custom-input" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="py-1"><%= f.submit "新規登録", class: "btn custom-button" %></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    <% end %>
  </div>
  
    
    <h5 class="d-inline highlight">既に登録済みの方</h5>


  <p><%= render "public/shared/links" %>からログインしてください</p>
</div>
