<div class="container">
  <div class="row d-flex justify-content-between my-3 px-3">
    <h4>注文情報確認</h4>
  </div>
  <table>
    <tr>
      <td>
        <table class="table table-bordered">
          <thead class="table-secondary">
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= image_tag  cart_item.item.get_image(50,50) %>
                  <%= cart_item.item.item_name %>
                </td>
                <td>
                  ¥<%= number_with_delimiter(cart_item.item.tax_included_price) %>
                </td>
                <td>
                  <%= cart_item.count %>
                </td>
                <td>
                 ¥<%= number_with_delimiter(cart_item.subtotal) %>
                </td>
                ¥<% number_with_delimiter(@sum += cart_item.subtotal) %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table table-bordered">
          <tr>
            <td class="table-secondary">送料</td>
            <td>¥<%= number_with_delimiter(@postage) %></td>
          </tr>
          <tr>
            <td class="table-secondary">商品合計</td>
            <td>¥<%= number_with_delimiter(@sum) %></td>
          </tr>
          <tr>
            <td class="table-secondary">請求金額</td>
            <td>¥<%= number_with_delimiter(@postage + @sum) %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div>
    <h8>支払い方法</h8>
    <%= t("enums.order.how_to_pay.#{@order.how_to_pay}") %>
  </div>
  <div>
    <h8>お届け先</h8>
    〒<%= @formatted_post_code %>&nbsp;<%= @order.address %><br>
    <%= @order.address_name %>
  </div>
  <div class="ml-3">
    <div class="row mt-4">
      <h6>支払い方法</h6>
      <div class="ml-4">
        <%= t("enums.order.how_to_pay.#{@order.how_to_pay}") %>
      </div>
    </div>
    <div class="row mt-4">
      <h6>お届け先　</h6>
      <div class="ml-4">
        〒<%= @order.post_code %><%= @order.address %><br>
        <%= @order.address_name %>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="mt-3 px-3 mx-auto">
      <%= form_with model: @order, url: orders_path, method: :post, local:true do |f| %>
        <%= f.hidden_field :postage, value: @postage %>
        <%= f.hidden_field :total_price, value: @postage + @sum %>
        <%= f.hidden_field :how_to_pay, value: @order.how_to_pay %>
        <%= f.hidden_field :post_code, value: @order.post_code %>
        <%= f.hidden_field :address, value: @order.address %>
        <%= f.hidden_field :address_name, value: @order.address_name %>
        <%= f.hidden_field :order_status, value: "payment_waiting" %>
        <%= f.submit "注文確定する", class:"btn btn-outline-secondary" %>
      <% end %>
    </span>
  </div>
</div>

