<div class="container">
  <div class="row my-3 px-3">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h4>注文情報入力</h4>
      <div>
        <%= form_with model: @order do |f| %>
          <h5>支払方法</h5>
          <div>
            <%= f.radio_button :how_to_pay, Order.how_to_pays.key(0) %>
            <%= f.label :how_to_pay_transfer, Order.how_to_pays_i18n[:transfer]%>
          </div>
          <div>
            <%= f.radio_button :how_to_pay, Order.how_to_pays.key(1) %>
            <%= f.label :how_to_pay_credit_card, Order.how_to_pays_i18n[:credit_card] %>
          </div>
          <h5>お届け先</h5>
          <div>
            <%= f.radio_button :select_address, "0" %>
            <%= f.label :select_address_0, "ご自身の住所" %><br>
            <%= current_customer.full_address %><br>
            <%= current_customer.full_name %>
          </div>
          <div>
            <%= f.radio_button :select_address, "1" %>
            <%= f.label :select_address_1, "登録済み住所から選択" %><br>
            <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
          </div>
          <div>
            <%= f.radio_button :select_address, "2" %>
            <%= label :select_address_2, "新しいお届け先" %><br>
            <%= f.label :post_code, "郵便番号（ハイフンなし）" %>
            <%= f.text_field :post_code %><br>
            <%= f.label :address, "住所" %>
            <%= f.text_field :address %><br>
            <%= f.label :address_name, "宛名" %>
            <%= f.text_field :address_name %>
          </div>
          <div>
            <%= f.submit "確認画面へ進む" %>
          </div>
        <% end %>
       </div>
    </div>
  </div>
</div>