<div class="container">
  <div class="row d-flex justify-content-between my-3 px-3">
    <h4 class="d-inline highlight">注文履歴詳細</h4>
  </div>
  <div class="row">
    <div class="col-md-8 align-items-start">
      <h5>注文情報</h5>
      <table class="table table-bordered">
        <tr>
          <td class="custom-td" style="width: 150px;">注文日</td>
          <td><%= @order.created_at.in_time_zone('Asia/Tokyo').strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="custom-td">配送先</td>
          <td>
            〒<%= @order.post_code %><br>
            <%= @order.address %><br>
            <%= @order.address_name %>
          </td>
        </tr>
        <tr>
          <td class="custom-td">支払方法</td>
          <td><%= t("enums.order.how_to_pay.#{@order.how_to_pay}") %></td>
        </tr>
        <tr>
          <td class="custom-td">ステータス</td>
          <td><%= t("enums.order.order_status.#{@order.order_status}") %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4 align-items-start">
      <h5>請求情報</h5>
      <table class="table table-bordered">
        <tr>
          <td class="custom-td" style="width: 100px;">商品合計</td>
          <td>¥<%= number_with_delimiter(@sum) %></td>
        </tr>
        <tr>
          <td class="custom-td">配送料</td>
          <td>¥<%= number_with_delimiter(@order.postage) %></td>
        </tr>
        <tr>
          <td class="custom-td">ご請求額</td>
          <td>¥<%= number_with_delimiter(@order.total_price) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <h5>注文内容</h5>
    <table class="table table-bordered">
      <thead class="custom-header">
        <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @ordering_items.each do |ordering_item| %>
          <tr>
            <td>
              <%= ordering_item.item.item_name %>
            </td>
            <td>
              ¥<%= number_with_delimiter(ordering_item.tax_included_price) %>
            </td>
            <td>
              <%= ordering_item.count %>
            </td>
            <td>
              ¥<%= number_with_delimiter(ordering_item.subtotal) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>