<div class="mb-8 text-center">
  <span class="text-3xl font-bold">
<h2><%= @item.item_name %></h2>　
<!--↑ここに商品名-->
 </span>
</div>
<div class="item-box">
      <%= image_tag @item.get_image %>
    
    
    <span class="price"><%= price %></span>
     <span class="item_explanation"><%= item_explanation %></span>
      <span class="genre_id"><%= genre_id %></span>
      <span class="is_active"><%= is_active %></span>
      
</div>

