<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <style>
      .table-hover tr:not(:first-child){
        cursor: hand; cursor:pointer;
      }
      .table-hover tr:not(:first-child):hover td{
        background-color: silver;
      }
      .fadein {
            opacity: 0;
            animation: fadein 1s ease forwards;
        }
      @keyframes fadein {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
      .txt01 {
        animation-delay: 0.25s;
      }
      
      .txt02 {
        animation-delay: 0.5s;
      }
      
      .txt03 {
        animation-delay: 0.75s;
      }
      
      .txt04 {
        animation-delay: 1s;
      }
      
      .txt05 {
        animation-delay: 1.25s;
      }
      
      .txt06 {
        animation-delay: 1.5s;
      }
      
      .txt07 {
        animation-delay: 1.75s;
      }
      
      .txt08 {
        animation-delay: 2s;
      }
     </style>

  </head>
  <body>
    <header>
     <%= render 'layouts/header' %>
    </header>
    <main class="my-5">
      <div class="container my-5">
      <p class="text-danger"><%= notice %></p>
      </div>
      <%= yield %>
    </main>
    <footer class="fixed-bottom">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>


